@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #f5f7fa, #ebf5eb);
  color: #333;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

main {
  margin-left: 260px;
  padding: 30px;
  min-height: 100vh;
}

.title {
  color: rgb(53, 126, 19);
  text-align: center;
  font-family: 'Lobster';
  font-size: 36px;
  margin: 15px;
}

.sidebar {
  height: 100%;
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, rgb(53, 126, 19), rgb(45, 105, 17));
  color: white;
  box-shadow: 3px 0 15px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  z-index: 10;
}

.sidebar .titlu-logo {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.sidebar .logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.sidebar .mealtime-h1 {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  font-family: 'Lobster';
  text-decoration: none;
}

.sidebar a {
  padding: 10px 20px;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  display: block;
  border-radius: 10px;
  transition: all 0.3s;
}

.details-content {
  margin: 0;
  padding: 0;
}

.details-content summary {
  padding: 10px 20px;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  display: block;
  border-radius: 10px;
  transition: all 0.3s;
  list-style: none;
}

.sidebar summary::after {
  content: '▼';
  position: absolute;
  right: 60%;
  font-size: 1.2rem;
  color: white;
  transition: transform 0.3s;
}

.details-content[open] summary::after {
  transform: rotate(180deg);
}

.details-content {
  padding: 10px 0;
}

.hr-details {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.details-content a {
  padding: 10px 40px;
  font-size: 1rem;
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.details-content[open] a {
  opacity: 1;
  transform: translateX(10px);
}

.sidebar a:hover,
.details-content summary:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  transform: translateX(10px);
}

.details-content a:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  transform: translateX(20px);
}

footer {
  background-color: rgb(48, 114, 17);
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer span {
  color: white;
  font-size: 20px;
  margin-left: 260px;
}

.page-title {
  background-image: url(../img/Banner1.jpg);
}

.page-bauturi {
  background-image: url(../img/Banner-bauturi.jpg);
}

.page-fastfood {
  background-image: url(../img/Banner-fastfood.jpg);
}

.page-bere {
  background-image: url(../img/Banner-bere.jpg);
}

.page-mancalda {
  background-image: url(../img/Banner-cald.jpg);
}

.page-pizza {
  background-image: url(../img/Banner-pizza.jpg);
}

.page-salate {
  background-image: url(../img/Banner-salate.jpg);
}

.page-supe {
  background-image: url(../img/Banner-supe.jpg);
}

.page-title,
.page-bauturi,
.page-fastfood,
.page-bere,
.page-mancalda,
.page-pizza,
.page-salate,
.page-supe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-size: cover;
  background-position: center;
  margin: calc(-30px);
  margin-bottom: 20px;
}

.page-title h1,
.page-title p,
.page-bauturi h1,
.page-bauturi p,
.page-fastfood h1,
.page-fastfood p,
.page-bere h1,
.page-bere p,
.page-mancalda h1,
.page-mancalda p,
.page-pizza h1,
.page-pizza p,
.page-salate h1,
.page-salate p {
  color: white;
  font-family: "Lobster";
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

.page-title h1,
.page-bauturi h1,
.page-bere h1,
.page-fastfood h1,
.page-mancalda h1,
.page-pizza h1,
.page-salate h1 {
  font-size: 120px;
  padding: 10px;
}

.page-title h1 span {
  margin-right: 22px;
}

.page-title p {
  font-size: 30px;
  width: calc(100%-5px);
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 10px;
}

.container-produse {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.product {
  position: relative;
  width: 275px;
  max-width: 300px;
  padding: 10px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  justify-content: center;
  overflow: hidden;
  word-wrap: break-word;
  transition: 0.3s;
  margin: 10px;
}

.product img {
  width: 100%;
  height: 14em;
  border-radius: 10px;
}

.product h3 {
  margin: 10px 0;
  font-size: 16px;
}

.product p {
  font-size: 16px;
  color: #555;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s;
}

.product:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.header-mobile {
  display: none;
}

.cart-button {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: rgb(48, 114, 17);
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 5;
  transition: all 0.5s;
}

.cart-button:hover {
  font-size: 24px;
}

.cart {
  display: none;
  position: fixed;
  width: calc(100% - 260px);
  height: 100%;
  top: 0;
  left: 260px;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.cart.Open {
  display: flex;
  position: fixed;
  z-index: 1;
}

.cart-menu {
  background-color: white;
  width: 50%;
  max-height: 80%;
  overflow-y: auto;
  left: 0;
  padding: 20px;
  border-radius: 15px;
  box-sizing: border-box;
  top: 20px;
}

.cart-plata {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  top: 25px;
}

.cart-plata .buton-comanda {
  background-color: white;
  color: rgb(48, 114, 17);
  font-size: 14px;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 25px;
  padding: 5px;
  border: 1px solid rgb(48, 114, 17);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.buton-comanda:hover {
  background-color: rgb(48, 114, 17);
  color: white;
}

#cart-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  width: 100%;
  border-radius: 10px;
}

#cart-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
}

#cart-list li:last-child {
  border-bottom: none;
}

.remove-btn {
  background: none;
  color: rgb(48, 114, 17);
  border: none;
  cursor: pointer;
  border: 1px solid rgb(48, 114, 17);
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.remove-btn:hover {
  color: white;
  background: rgb(48, 114, 17);
}

.working-hours {
  margin-bottom: 25px;
}

.working-hours table {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px solid black;
  margin-top: 20px;
}

.working-hours th,
.working-hours td {
  padding: 12px;
  text-align: left;
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.working-hours th {
  background-color: rgb(53, 126, 19);
  color: white;
}

.working-hours td {
  background-color: #f9f9f9;
}

.working-hours tr:hover {
  background-color: rgba(53, 126, 19, 0.1);
}

.delivery-info {
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url(../img/Leova.png);
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  color: white;
}

.delivery-info h1 {
  color: white;
  font-size: 40px;
  font-family: 'Lobster';
  margin-bottom: 10px;
  z-index: 1;
}

.delivery-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  position: absolute;
}

table,
th,
td {
  border: none;
}

.container-contacte {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.contacte,
.container-harta {
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 75%;
  max-width: 600px;
  text-align: center;
  margin-bottom: 25px;
}

.container-harta {
  height: auto;
}

.harta {
  width: 100%;
  height: 350px;
  border-radius: 12px;
}

.contacte b {
  font-size: 20px;
}

.contacte a {
  font-size: 20px;
  color: rgb(48, 114, 17);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.contacte a:hover {
  color: rgb(48, 114, 17);
  text-decoration: underline;
}

.despre-noi {
  padding: 20px 150px;
}

.despre-noi p {
  font-size: 18px;
  padding: 25px;
  text-indent: 20px;
  border: 1px solid rgb(48, 114, 17);
  border-left: none;
  border-right: none;
  border-radius: 15px;
}

#hamburger {
  display: none;
}

@media (max-width: 478px) {
  .header-mobile {
    display: block;
    align-items: center;
    padding: 5px;
    background-color: rgb(48, 114, 17);
    position: fixed;
    width: 100%;
    height: 40px;
    color: white;
    flex-direction: column;
    z-index: 10;
  }

  #hamburger {
    display: block;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .titlu-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-mobile .logo {
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
  }

  .header-mobile h1 {
    font-size: 24px;
    font-family: "Lobster";
  }

  .sidebar {
    display: none;
  }

  nav {
    display: none;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    background-color: rgb(48, 114, 17);
    padding: 10px 0;
    box-sizing: border-box;
  }

  nav.mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
  }

  nav a {
    padding: 5px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    transition: all 0.3s;
  }

  .details-content {
    margin: 0;
    padding: 0;
  }

  .details-content summary {
    padding: 15px 10px;
    color: white;
    text-decoration: none;
    display: block;
    position: relative;
    padding-right: 30px;
  }

  .details-content summary::after {
    content: '▼';
    position: absolute;
    font-size: 1.2rem;
    color: white;
    transition: transform 0.3s;
  }

  .details-content[open] summary::after {
    transform: rotate(180deg);
  }

  .details-content a {
    padding: 10px 40px;
    font-size: 1rem;
    opacity: 0;
  }

  main {
    margin: 0;
  }

  .page-title,
  .page-bauturi,
  .page-fastfood,
  .page-bere,
  .page-mancalda,
  .page-pizza,
  .page-salate,
  .page-supe {
    background-size: cover;
    background-position: center;
    height: 200px;
  }

  .page-title h1,
  .page-bauturi h1,
  .page-bere h1,
  .page-fastfood h1,
  .page-mancalda h1,
  .page-pizza h1,
  .page-salate h1 {
    font-size: 50px;
    letter-spacing: 5px;
  }

  .page-title h1 span {
    margin: 0;
    font-size: 50px;
  }

  .page-title .motto {
    align-items: center;
    justify-content: center;
  }

  .page-title p {
    font-size: 16px;
    margin-left: 5%;
    padding: 5px;
  }

  .title {
    font-size: 1.5rem;
  }

  .container-produse {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .product {
    width: 100%;
    margin: 5px;
  }

  .product h3 {
    font-size: 14px;
  }

  .product p {
    font-size: 14px;
  }

  .product img {
    width: 100%;
    height: 8em;
  }

  footer span {
    font-size: 16px;
    margin: 0;
  }

  .cart-button {
    top: 50px;
    right: 5px;
  }

  .cart {
    left: 0;
    width: 100%;
  }

  .cart-menu {
    width: 100%;
    margin: 15px;
  }

  .contacte,
  .container-harta {
    width: 90%;
  }

  .harta {
    height: 250px;
  }

  .contacte a,
  .contacte b {
    font-size: 16px;
  }

  .delivery-info {
    height: 350px;
  }

  .despre-noi {
    padding: 5px;
  }

  .despre-noi p {
    font-size: 14px;
  }
}